
  <h1>
    Welcome to {{ title }}!
  </h1>
  <br/>
 
  <app-task-list></app-task-list>
<br/>
{{user | json}}
<br/>
{{upperText | uppercase}}
<br/>
{{lowerText | lowercase}}
<br/>
{{percentValue | percent}}
<br/>
{{date | date: "dd/MM/yyyy"}}
<br/>
{{money | currency :'BRL':true:'1.2-2'}}
<br/>
<div *ngIf="isAdmin">
  É um administrador
</div>
<br/>
<div [ngSwitch]="profile">
    <p *ngSwitchCase="1">You can write</p>
  <p *ngSwitchCase="2">You can read and Write</p>
  <p *ngSwitchDefault>Go Back!</p>
</div>
<form>
<div>
  <label for="name">Name </label>
  <input type="text" id="name" name="name" [(ngModel)]="name" #nameVerify="ngModel" required>
  <span *ngIf="nameVerify.invalid">Name is required</span>
</div>
<br/>
<div>
  <label for="email">E-mail </label>
  <input type="text" id="email" name="email" [(ngModel)]="email" #emailVerify="ngModel" email>
  <span *ngIf="emailVerify.invalid">Email is required</span>
</div>
<button type="submit" [disabled]="form.valid">Enviar</button>
</form>
<h1>Comments</h1>
<app-comments></app-comments> 